<div class="fl-list__item">
    <div class="fl-list__item__header">
        <a href="#flats/item/<%= flat.ID %>"><%= flat.Address %></a>
    </div>
    <a href="#flats/item/<%= flat.ID %>" class="fl-list__item__img-wrap">
        <img class="fl-list__item__img" src="<%= flat.ImageLink %>" alt="<%= flat.Address %>" />
        <div class="fl-list__item__img__detail">подробнее</div>
    </a>
    <div class="fl-list__item__info">
        <div class="fl-list__item__info__block fl-list__item__info__block--price">
            <div class="fl-list__item__info__block__top"><%= flat.Price %> р</div>
            <div class="fl-list__item__info__block__bot">в сутки</div>
        </div>
        <div class="fl-list__item__info__block">
            <div class="fl-list__item__info__block__top"><%= flat.Rooms %></div>
            <div class="fl-list__item__info__block__bot"><%= words.rooms %></div>
        </div>
        <% if (flat.Sleeper) {%>
        <div class="fl-list__item__info__block">
            <div class="fl-list__item__info__block__top"><%= flat.Sleeper %></div>
            <div class="fl-list__item__info__block__bot"><%= words.sleeper %></div>
        </div>
        <% } %>
    </div>
</div>