<div class="footer">
    <div class="container">
        <div class="footer__inner row">
            <div class="col-md-4">
                <p>Kazan flats. All rights reserved</p>
                <p>2014</p>
            </div>
            <div class="col-md-8 pull-right">
                <a href="#" class="facebook">
                    <span class="socialicons ico1"></span>
                    <span class="socialicons_h ico1h"></span>
                </a>
                <a href="#" class="twitter">
                    <span class="socialicons ico2"></span>
                    <span class="socialicons_h ico2h"></span>
                </a>
                <a href="#" class="gplus">
                    <span class="socialicons ico3"></span>
                    <span class="socialicons_h ico3h"></span>
                </a>
            </div>
        </div>
    </div>
</div>