<form action="flats/new" method="POST">
    <div class="form-group">
        <label for="address">Адрес</label>
        <input class="form-control" id="address" name="address" placeholder="Город, улица, дом">
    </div>
    <div class="form-group">
        <label for="price">Цена</label>
        <input class="form-control" id="price" name="price" placeholder="в рублях">
    </div>
    <div class="form-group">
        <label for="rooms">Количество комнат</label>
        <input class="form-control" id="rooms" name="rooms">
    </div>
    <div class="form-group">
        <label for="sleeper">Количество спальных мест</label>
        <input class="form-control" id="sleeper" name="sleeper">
    </div>
    <div class="form-group">
        <label for="description">Краткое описание особенностей жилья</label>
        <textarea class="form-control" id="description" name="description"></textarea>
    </div>
    <div class="form-group">
        <label for="image">Фотография жилья</label>
        <div>
            <button type="button" class="btn btn-info js-img-add">Добавить фото жилья</button>
        </div>
        <div class="img-upload img-upload--flat js-upload-container">
            <div class="img-upload__list js-img__list clearfix">
                <div class="img-upload__thumb js-img__tpl">
                    <div data-fileapi="file.remove" class="img-upload__thumb__del" title="Удалить изображение">✖</div>
                    <div class="js-img__tpl__preview"></div>
                    <div class="img-upload__thumb__progress js-img__progress">
                        <div class="bar js-img__bar"></div>
                    </div>
                    <div class="img-upload__thumb__complete js-img__complete">загружено</div>
                </div>
            </div>    
            <input id="js-img-input" type="file" name="UploaderHelper" class="hide">
            <!--<div class="text-center">
                    <button type="button" class="btn btn-success js-img__upload">Загрузить добавленные фото</button>
                </div>-->
        </div>
        <input type="hidden" name="ImagesList" class="js-images-list"/>
    </div>
    <button type="submit" class="btn btn-default js-submit">Добавить жилье</button>
</form>