@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Кваритры посуточно в Казани</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="@(ViewBag.OgTitle ?? "Квартиры посуточно в Казани"))" />
    <link rel="stylesheet" href="Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/css/styles.css" />
</head>
<body>
    @Html.AntiForgeryToken()
    <header id="header-region"></header>
    <section id="main-region" class="with-footer"></section>
    <footer id="footer-region"></footer>
    <section id="dialog-region"></section>
    <script data-main="Scripts/require_main.js" src="/Scripts/libs/require/require.js"></script>
    @*<script src="/Scripts/require_main.built.js"></script>*@
</body>
</html>