@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <title>Кваритры посуточно в Казани</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta name="title" content="@(ViewBag.OgTitle ?? "Квартиры посуточно в Казани"))" />
    <link rel="stylesheet" href="Content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="Content/css/styles.css" />
</head>
<body>
    @Html.AntiForgeryToken()
    <header id="header-region"></header>
    <section id="main-region" class="with-footer"></section>
    <footer id="footer-region">
        <div class="footer">
            <div class="container">
                <div class="footer__inner row">
                    <div class="col-md-4">
                        <p>Kazan flats. All rights reserved</p>
                        <p>2014</p>
                    </div>
                    <div class="col-md-8 pull-right">
                        <a href="#" class="facebook">
                            <span class="socialicons ico1"></span>
                            <span class="socialicons_h ico1h"></span>
                        </a>
                        <a href="#" class="twitter">
                            <span class="socialicons ico2"></span>
                            <span class="socialicons_h ico2h"></span>
                        </a>
                        <a href="#" class="gplus">
                            <span class="socialicons ico3"></span>
                            <span class="socialicons_h ico3h"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <section id="dialog-region"></section>
    <script data-main="Scripts/require_main.js" src="/Scripts/libs/require/require.js"></script>
    @*<script src="/Scripts/require_main.built.js"></script>*@
</body>
</html>