<div class="flat">
    <div class="flat__header">
        <a href="#">ул. Московская, 31-23</a>
    </div>
    <a href="#" class="flat__img-wrap">
        <img class="flat__img" src="~/Content/img/temp/flat.jpg" alt="ул. Московская, 31-23" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top">2200 р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">2</div>
            <div class="flat__info__block__bot">комнаты</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">6</div>
            <div class="flat__info__block__bot">спальных мест</div>
        </div>
    </div>
</div>
<div class="flat">
    <div class="flat__header">
        <a href="#">ул. Московская, 31-23</a>
    </div>
    <a href="#" class="flat__img-wrap">
        <img class="flat__img" src="~/Content/img/temp/flat.jpg" alt="ул. Московская, 31-23" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top">2200 р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">2</div>
            <div class="flat__info__block__bot">комнаты</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">6</div>
            <div class="flat__info__block__bot">спальных мест</div>
        </div>
    </div>
</div>
<div class="flat">
    <div class="flat__header">
        <a href="#">ул. Московская, 31-23</a>
    </div>
    <a href="#" class="flat__img-wrap">
        <img class="flat__img" src="~/Content/img/temp/flat.jpg" alt="ул. Московская, 31-23" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top">2200 р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">2</div>
            <div class="flat__info__block__bot">комнаты</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">6</div>
            <div class="flat__info__block__bot">спальных мест</div>
        </div>
    </div>
</div>
<div class="flat">
    <div class="flat__header">
        <a href="#">ул. Московская, 31-23</a>
    </div>
    <a href="#" class="flat__img-wrap">
        <img class="flat__img" src="~/Content/img/temp/flat.jpg" alt="ул. Московская, 31-23" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top">2200 р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">2</div>
            <div class="flat__info__block__bot">комнаты</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">6</div>
            <div class="flat__info__block__bot">спальных мест</div>
        </div>
    </div>
</div>
<div class="flat">
    <div class="flat__header">
        <a href="#">ул. Московская, 31-23</a>
    </div>
    <a href="#" class="flat__img-wrap">
        <img class="flat__img" src="~/Content/img/temp/flat.jpg" alt="ул. Московская, 31-23" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top">2200 р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">2</div>
            <div class="flat__info__block__bot">комнаты</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">6</div>
            <div class="flat__info__block__bot">спальных мест</div>
        </div>
    </div>
</div>
<div class="flat">
    <div class="flat__header">
        <a href="#">ул. Московская, 31-23</a>
    </div>
    <a href="#" class="flat__img-wrap">
        <img class="flat__img" src="~/Content/img/temp/flat.jpg" alt="ул. Московская, 31-23" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top">2200 р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">2</div>
            <div class="flat__info__block__bot">комнаты</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top">6</div>
            <div class="flat__info__block__bot">спальных мест</div>
        </div>
    </div>
</div>



<div class="fl-list">
    <div class="fl-list__header">
        <div class="container">
            <div class="row">
                <div class="fl-list__header__group">
                    <div class="col-md-4 col-md-offset-2 text-center">
                        <div class="smart-filter">
                            <p class="smart-filter__title">
                                Умный фильтр
                            </p>
                            <div class="btn-group">
                                <span class="btn btn-info">Меньше цена</span>
                                <span class="btn btn-info">Больше комфорта</span>
                                <span class="btn btn-info">Ближе к центру</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="search">
                            <p class="search__title">
                                Поиск
                            </p>
                            <div class="input-group">
                                <input type="text" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Найти</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fl-list__items">
        <div class="container">
        </div>
    </div>
</div>