<div class="container">
    <div class="row">
        <div class="fl-list__header__group">
            <div class="col-md-4 col-md-offset-2 text-center">
                <div class="smart-filter">
                    <p class="smart-filter__title">
                        Умный фильтр
                    </p>
                    <div class="btn-group">
                        <button class="btn btn-info js-flats-filter">Меньше цена</button>
                        <button class="btn btn-info js-flats-filter">Больше комфорта</button>
                        <button class="btn btn-info js-flats-filter">Ближе к центру</button>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="search">
                    <p class="search__title">
                        Поиск
                    </p>
                    <form class="input-group">
                        <input type="text" class="form-control js-flats-search__criterion">
                        <span class="input-group-btn">
                            <button class="btn btn-default js-flats-serach" type="submit">Найти</button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>