<div class="flat">
    <div class="flat__header">
        <a href="#flats/<%= flat.id %>"><%= flat.address %></a>
    </div>
    <a href="#flats/<%= flat.id %>" class="flat__img-wrap">
        <img class="flat__img" src="<%= flat.imgSrc %>" alt="<%= flat.address %>" />
        <div class="flat__img__detail">подробнее</div>
    </a>
    <div class="flat__info">
        <div class="flat__info__block flat__info__block--price">
            <div class="flat__info__block__top"><%= flat.price %> р</div>
            <div class="flat__info__block__bot">в сутки</div>
        </div>
        <div class="flat__info__block">
            <div class="flat__info__block__top"><%= flat.rooms %></div>
            <div class="flat__info__block__bot"><%= words.rooms %></div>
        </div>
        <% if (flat.sleeper) {%>
        <div class="flat__info__block">
            <div class="flat__info__block__top"><%= flat.sleeper %></div>
            <div class="flat__info__block__bot"><%= words.sleeper %></div>
        </div>
        <% } %>
    </div>
</div>