@model flats.Models.AddFlatModel

@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Flats", FormMethod.Post, new {enctype = "multipart/form-data"}))
{
    <input type="text" name="rooms"/>
    @Html.TextBoxFor(m => m.Price, new { name = "price"} )
    @Html.TextBoxFor(m => m.Description, new { name = "description"} )
    for (int i = 0; i < 9; i++)
    {
        <input type="file" name="files[@i]"/>
    }
    <input type="submit" value="Отправить"/>
}
